**/greengrass
**/greengrass-v2-credentials
client_device_workspace/greengrass_deployment_config.json
client_device_workspace/greengrass.env
.DS_Store
client_device_provisioning/claim
client_device_provisioning/clients
__pycache__/